# IDE settings
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
